*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.home {
  width: 100%;
  height: 100vh;
  
  
}
.level{
  margin: auto;
  width: 800px;
  height: 100vh;
 
 
}
.level .contanier{
  
  margin: 5vh auto ;
  width: 320px;
  height: 90vh;
  display:flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
 
}
.level .contanier .items{
   width:50%;
   height:20%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:1rem;
   
  
}
.img{
  background-color: aliceblue;
  border-radius: 50%;
  max-width: 80px;
  
}
.img:hover{
  cursor: pointer;
  background-color: aqua;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.slide-page{
  width:100%;
  height:80vh;
  background-color: aliceblue;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.menu{
  height:10vh;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.image{
  width:500px;
  height: 400px;
  border-radius: 1rem;
}

.slide-page .slide-navigation{
  width: 500px;
  display: flex;
  justify-content: space-between;
}
button{
  padding: 0.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
}
button:hover{
  background-color: green;
}
.menu-items{
  background-color:blanchedalmond;  

}
.finish{
  display: flex;
  height: 100vh;
 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#f3e5f5;
}

@media (max-width: 768px) {
  .image{
    width:300px;
    
  }
  .slide-page .slide-navigation{
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .level{
    
    width: 100%;
    height: 100vh;
   
   
  }

}
